body {
  background-color: #6e6b65ee;
}

.heading {
  text-align: center;
  padding-top: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 36%;
  margin-top: 2%;
}

.main-down-container {
  border: none;
  text-align: center;
  padding-bottom: 12rem;
  background-color: #fff;
}

.main-up-container {
  text-align: center;
  border: none;
  padding-bottom: 12rem;
  background: linear-gradient(to left, #f55858, #f49391);
}

select {
  width: 10%;
  border: none;
  top: -23px;
}

.icon {
  z-index: 1;
  transform: rotate(90deg);
  border: none;
  padding: 3px;
  background-color: #fff;
  position: absolute;
  width: 21px;
  margin-left: 25%;
  margin-top: 18%;
  font-size: 25px;
}

.contain {
  padding-top: 150px;
  justify-content: center;
}