body {
  background-color: #6e6b65ee;
}

.heading {
  text-align: center;
  padding-top: 1rem;
}

#menu-btn {
  padding-top: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.curren {
  padding-top: -30px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 36%;
}

.main-down-container {
  border: none;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 10rem;
  background-color: #fff;
  color: #f55858;
}

.main-up-container {
  color: #fff;
  text-align: center;
  border: none;
  padding-bottom: 9.5rem;
  background: linear-gradient(to left, #f55858, #f49391);
}

select {
  width: 10%;
  border: none;
}
#from {
  color: #2a2424;
  border: none;
  background-color: none;
}

#to {
  color: #f55858;
  border: none;
}

.icon {
  z-index: 1;
  transform: rotate(90deg);
  border: none;
  padding: 3px;
  background-color: #fff;
  position: absolute;
  width: 21px;
  margin-left: 25%;
  margin-top: 18.5%;
  font-size: 25px;
}

.contains {
  justify-content: center;
  padding-top: 100px;
}

.curren {
  font-size: 25px;
  color: #f0ffff98;
}
